/*
----------------------------
    02 - HEADER TERMS OF USE
----------------------------
*/

#header {
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
